body, html {
	
	height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1b1b1b;
    background-image: url('../static/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #0ff;
    box-sizing: border-box;  
}

.neon-text {
    font-size: 2rem;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}

.neon-border {
    border: 2px solid #0ff;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.camera-area {
    padding: 10px;
    border-radius: 15px;
    background-color: #111;
}

.neon-frame {
    border: 5px solid #0ff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

.neon-btn {
    background-color: #0ff;
    color: #000;
    border: none;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    transition: box-shadow 0.3s ease;
	width: 100%;
}

.neon-btn:hover {
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 60px #0ff;
}